<div class="row">
        <div class="card" style="width: 18rem; text-align: center00; border-color: blue;">
            <div class="card-body">
                <app-product-preview class="w-200px h-[300px]" [obj] = "product.object"></app-product-preview>
                <h5 class="card-title">{{ product.title }}</h5>
                <p>Quantity : {{ product.quantity }}</p>
                <p>Price : {{ product.price }}</p>
                <p>Like : {{ product.like }}</p>      
            </div>
        </div>
    </div>