body, h2
{
    background-color : white;
}
h2 {
    
    width : 400px;
    margin-left : 20px;
    margin-top: -35px;
}
p {
    padding: 10px;
    font-family : Arial;
}

label, input {
    display: inline-block;
  }